@using SevenTiny.Cloud.MultiTenantPlatform.Domain.Entity;
@using SevenTiny.Cloud.MultiTenantPlatform.Domain.Enum;
@using System.Linq;
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ActionResultModel<MetaField> result = Model as ActionResultModel<MetaField> ?? new ActionResultModel<MetaField>(true, string.Empty, new MetaField() { FieldType = (int)DataType.Number });
    Array dataTypes = Enum.GetValues(typeof(DataType));
    //不显示的数据类型
    DataType[] dataTypesExclude = new[] { DataType.Unknown, DataType.StandradDate, DataType.StandradDateTime };
}

<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span>
    对象管理
    <span class="c-gray en">&gt;</span>
    添加对象
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>

<article class="page-container">
    <form class="form form-horizontal" id="form-article-add" method="post" action="/MetaField/AddLogic">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@result.Data.Name" placeholder="" id="" name="name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>编码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@result.Data.Code" placeholder="" id="" name="code">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>字段类型：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select name="fieldType" class="select" value="@result.Data.FieldType" onchange="fieldTypeSwitch(this)">
                        @foreach (var item in dataTypes)
                        {
                            if (!dataTypesExclude.Any(t => t.ToString().Equals(item.ToString())))
                            {
                                var value = (int)item;
                                <option value="@value">@EnumsTranslater.Tran_DataType((int)item)</option>
                            }
                        }
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl" id="div_datasource" style="display:none">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>数据源：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select name="fieldType" class="select" value="@result.Data.FieldType">
                        <option value="0">一级分类</option>
                        <option value="11">├二级分类</option>
                        <option value="12">├二级分类</option>
                        <option value="13">├二级分类</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">分组：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@result.Data.Group" placeholder="" id="" name="group">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">排序值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@result.Data.SortNumber" placeholder="" id="" name="sortNumber">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="description" class="textarea" placeholder="说点什么...最多输入1000个字符" datatype="*0-1000" dragonfly="true" nullmsg="无备注" onKeyUp="textarealength(this,1000)">@result.Data.Description</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/1000</p>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                <button onClick="javascript:window.location='/MetaField/List';" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                @if (!result.IsSuccess)
                {
                    <br /><br /><span class="c-red">@result.Msg</span>
                }
            </div>
        </div>
    </form>
</article>

@Html.Partial("~/Views/Shared/_FooterScripts.cshtml")
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="~/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="~/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="~/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="~/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
    });
    function fieldTypeSwitch(obj) {
        if ($(obj).val() == "DataSource") {
            console.log(1);
            $("#div_datasource").show();
        } else {
            $("#div_datasource").hide();
        }
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->