@using SevenTiny.Cloud.MultiTenant.Domain.Entity;
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_LayoutHeaderStyle.cshtml";
}
@{
    List<ListView> fieldList = ViewData["InterfaceFields"] as List<ListView> ?? new List<ListView>();
    List<SearchCondition> searchConditions = ViewData["SearchConditions"] as List<SearchCondition> ?? new List<SearchCondition>();

    ResponseModel result = Model as ResponseModel ?? new ResponseModel();
    IndexView IndexView = result.Data as IndexView ?? new IndexView();
}

@{
    ViewData["Level_1"] = "对象管理";
    ViewData["Level_2"] = "修改视图";
}
@await Html.PartialAsync("~/Views/Shared/_PartialNavigation.cshtml")

<article class="page-container">
    <form class="form form-horizontal validate" id="form-article-add" method="post" action="/IndexView/UpdateLogic">
        <input type="text" class="input-text" value="@IndexView.Id" name="id" hidden>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@IndexView.Name" name="name" required minLength="2" maxlength="50">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>编码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" style="background-color:#e8e8e8;" value="@IndexView.Code" name="code" readonly="readonly" required>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@IndexView.Title" name="title" required>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">图标：</label>
            <div class="formControls col-xs-7 col-sm-8">
                <input type="text" class="input-text" value="@IndexView.Icon" name="icon" required>
            </div>
            <div class="formControls col-xs-1 col-sm-1">
                <a href="http://fontawesome.dashgame.com/" target="_blank" style="color:#0abb68">图标库</a>
            </div>
        </div>

        <div class="row cl" id="fieldListId">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>字段配置：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select id="sl_fieldListId" name="fieldListId" class="select" value="@IndexView.FieldListId" onchange="fieldTypeSwitch(this)" required>
                        <option value="">--请选择--</option>
                        @foreach (var item in fieldList)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl" id="searchConditionArea">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>搜索条件：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select id="sl_searchConditionId" name="searchConditionId" class="select" value="@IndexView.SearchConditionId" onchange="fieldTypeSwitch(this)" required>
                        <option value="">--请选择--</option>
                        @foreach (var item in searchConditions)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">分组：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@IndexView.Group" name="group">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">排序值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@IndexView.SortNumber" name="sortNumber">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="description" class="textarea ignore" placeholder="说点什么...">@IndexView.Description</textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                <button onClick="javascript:history.back(-1);" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                @if (!result.IsSuccess)
                {
                    <br /><br /><pre><span class="c-red">@result.Message</span></pre>
                }
            </div>
        </div>
    </form>
</article>

@await Html.PartialAsync("~/Views/Shared/_FooterScripts.cshtml")
@await Html.PartialAsync("~/Views/Shared/_CommonScript.cshtml")
@await Html.PartialAsync("~/Views/Shared/_FormValidate.cshtml")

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $("#sl_fieldListId").val(@IndexView.FieldListId);
    $("#sl_searchConditionId").val(@IndexView.SearchConditionId);
</script>
<!--/请在上方写此页面业务相关的脚本-->