@using SevenTiny.Cloud.MultiTenant.Domain.Entity;
@using SevenTiny.Cloud.MultiTenant.Domain.Enum;
@{
    ViewData["Title"] = "SearchItemUpdate";
    Layout = "~/Views/Shared/_LayoutHeaderStyle.cshtml";

    ResponseModel result = Model as ResponseModel ?? new ResponseModel();
    SearchConditionNode entity = result.Data as SearchConditionNode ?? new SearchConditionNode();
}
<article class="page-container">
    <form class="form form-horizontal validate" id="form-article-add" method="post" action="/SearchCondition/SearchItemUpdateLogic">
        <input type="text" class="input-text" value="@entity.Id" name="id" hidden>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>显示名称：</label>
            <div class="formControls col-xs-10 col-sm-9">
                <input type="text" class="input-text" value="@entity.Text" name="Text" required>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>是否显示：</label>
            <div class="formControls col-xs-10 col-sm-9">
                <select id="IsVisible" name="visible" class="select" value="@entity.Visible" required>
                    <option value="">--请选择--</option>
                    @foreach (var item in Enum.GetValues(typeof(TrueFalse)))
                    {
                        var value = (int)item;
                        <option value="@value">@TrueFalseTranslator.ToLabel(value)</option>
                    }
                </select>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-10 col-sm-9 col-xs-offset-2 col-sm-offset-2">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                <button onClick="javascript:layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                @if (!result.IsSuccess)
                {
                    <br /><br /><pre><span class="c-red">@result.Message</span></pre>
                }
            </div>
        </div>
    </form>
</article>

@await Html.PartialAsync("~/Views/Shared/_FooterScripts.cshtml")
@await Html.PartialAsync("~/Views/Shared/_CommonScript.cshtml")
@await Html.PartialAsync("~/Views/Shared/_FormValidate.cshtml")
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    //如果返回成功就关闭窗口
    try {
        if (@result.Data == 1) {
            layer_close();
        }
    } catch (err) { }

    $("#IsVisible").val(@entity.Visible);

</script>
<!--/请在上方写此页面业务相关的脚本-->
