@using SevenTiny.Cloud.MultiTenant.Domain.Entity;
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_LayoutHeaderStyle.cshtml";

    var result = Model as ResponseModel ?? new ResponseModel();
    var metaObject = result.Data as MetaObject ?? new MetaObject();
}

@{
    ViewData["Level_1"] = "对象管理";
    ViewData["Level_2"] = "修改对象";
}
@await Html.PartialAsync("~/Views/Shared/_PartialNavigation.cshtml")

<article class="page-container">
    <form class="form form-horizontal validate" id="form-article-add" method="post" action="/MetaObject/UpdateLogic">
        <input type="text" class="input-text" value="@metaObject.Id" name="id" hidden>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@metaObject.Name" name="name" required minLength="2" maxlength="50">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>编码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" style="background-color:#e8e8e8;" value="@metaObject.Code" name="code" readonly="readonly" required>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">分组：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@metaObject.Group" name="group">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">排序值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@metaObject.SortNumber" name="sortNumber">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="description" class="textarea ignore" placeholder="说点什么...">@metaObject.Description</textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                <button onClick="javascript:window.location = '/MetaObject/List';" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                @if (!result.IsSuccess)
                {
                    <br /><br /><pre><span class="c-red">@result.Message</span></pre>
                }
            </div>
        </div>
    </form>
</article>

@await Html.PartialAsync("~/Views/Shared/_FooterScripts.cshtml")
@await Html.PartialAsync("~/Views/Shared/_CommonScript.cshtml")
@await Html.PartialAsync("~/Views/Shared/_FormValidate.cshtml")
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->